*
!.gitignore
!.latexmkrc
!.Rprofile
!abstract.tex
!appendix.tex
!conclusion.tex
!cotton2k.schema.json
!datav.py
!intro.tex
!Makefile
!method.tex
!model.tex
!moo.tex
!plots.py
!plots.R
!plot_li.py
!README.md
!renv.lock
!sa.tex
!thesis.bib
!thesis.tex
!titlepage.tex
!plot_comp.py
!plot_sa.py
!review_titlepage.tex
